<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:int="http://www.springframework.org/schema/integration"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/integration
		http://www.springframework.org/schema/integration/spring-integration.xsd">
	
	<int:channel id="spotarchivechannel"/>

	<int:gateway id="spotarchivegateway" service-interface="io.blace.microservices.fxspotservice.integration.gateway.SpotArchiveGateway" default-request-channel="spotarchivechannel"/>
	
	<bean id="spotArchiveService" class="io.blace.microservices.fxspotservice.integration.services.SpotArchiveService"/>
	<bean id="spotArchiveTransform" class="io.blace.microservices.fxspotservice.integration.transformers.SpotArchiveTransform"/>
		
	<int:chain id="orderchain" input-channel="spotarchivechannel" output-channel="nullChannel">
		<int:service-activator ref="spotArchiveService" method="sourcequandlrates"/>
		<int:service-activator ref="spotArchiveTransform" method="quandltofxspot"/>
		<int:service-activator ref="spotArchiveService" method="savetomongo"/>
	</int:chain>
	
 </beans>
